################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ejercicio3/PracticeEFsinWebUI.rar
/ejercicio3/PracticeEF.rar
